.page-main {
  .swiper-container {
    @include media("<=tablet") {
      margin-left: -40px;
      margin-right: -40px;
    }

    @include media("<=phone") {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  @include media("<=tablet") {
  }

  &__swiper-with-text {
    display: flex;
    align-items: center;

    @include media("<=tablet") {
      flex-direction: column;
      justify-content: center;
    }

    .typo {
      max-width: 500px;
      margin-left: 5%;

      @include media("<=desktop") {
        margin-left: 0;
      }
    }

    .swiper-square {
      width: 55%;
      max-width: 765px;

      @include media("<=tablet") {
        margin-top: 55px;
        max-width: 100%;
        width: 100%;
        order: 1;
      }

      @include media("<=portrait") {
        margin-top: 30px;
      }
    }
  }

  &__text-with-swiper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media("<=tablet") {
      flex-direction: column;
      justify-content: center;
    }

    .typo {
      margin-right: 3%;
      @include media("<=tablet") {
        margin-right: 0;
      }

      &__columns {
        @include media(">tablet", "<=desktop") {
          display: block;
          margin-bottom: 0;
        }
      }

      &__column {
        &:not(:last-child) {
          @include media(">=tablet") {
            margin-right: 60px;
          }

          @include media(">tablet", "<=desktop") {
            margin-right: 0;
            margin-bottom: 45px;
          }
        }
      }
    }

    .swiper-square {
      width: 50%;
      max-width: 665px;

      @include media("<=desktop") {
        width: 55%;
      }

      @include media("<=tablet") {
        margin-top: 50px;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__people {
    @extend %font-fam--third;
    color: $white;

    &-head-group {
      position: absolute;
      bottom: 20px;
      padding: 20px;
      left: 0;
      right: 0;
      text-transform: uppercase;
    }

    &-head {
      font-size: 120px;
      text-shadow: 3px 0 10px black;
    }

    &-subhead {
      font-size: 72px;
      margin-left: 20%;
    }
  }

  &__form {
    display: flex;

    &-bg {
      width: 50%;
      background-image: url("../assets/images/blue-threads.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
    }

    &-fields {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
  }
}
