$root: ".burger";

#{$root} {
  $close-selector: "#{$root}.close";

  padding: 10px;
  cursor: pointer;

  &__content {
    position: relative;
    width: 40px;
    height: 24px;
  }

  &__strip {
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: $black;
    border-radius: 2px;
    transition: 0.5s;

    #{$close-selector} & {
      width: 100%;
      background-color: $white;
    }

    &:first-child {
      width: 50%;
      top: 0;
      #{$close-selector} & {
        transform: rotate(45deg) translateY(15px);
      }
    }

    &:nth-child(2) {
      top: 50%;
      #{$close-selector} & {
        opacity: 0;
        background-color: $black;
      }
    }

    &:last-child {
      width: 50%;
      right: 0;
      bottom: 0;
      #{$close-selector} & {
        transform: rotate(-45deg) translateY(-15px);
      }
    }
  }
}
