.dropdown-menu {
  background: $white;
  border: 1px solid #e4dfdfec;
  &__item {
    @extend %font-fam--secondary;
    // @include transition-prop(background-color, 0);
    padding: 12px 25px 12px 15px;

    @include hover-active {
      background-color: change-color($color: $primary, $alpha: 0.3);
    }
  }

  &__link {
  }
}
