body {
  // min-width: 1600px;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;

  &.no-scroll {
    overflow: hidden;
  }
}

.phone-link {
  display: flex;
  align-items: center;

  &__logo {
    padding: 10px;
  }

  &__text {
    margin-left: 5px;
    white-space: nowrap;
    padding: 10px 0;
  }
}

.with-line {
  &-hover {
    position: relative;
    @include transition-prop(color, 0.2s);

    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 2px;
      width: 100%;
      background-color: $primary;
      transform-origin: left;
      transform: scale(0);
      @include transition-prop(transform, 0.5s);
    }
  }

  @include hover-guard {
    &-hoverable:hover &-hover {
      color: $primary;
      &:after {
        transform: scale(1);
      }
    }
  }
}

.with-toggle {
  &__toggler {
    position: relative;
    cursor: pointer;
  }

  @include hover-guard {
    &__toggler:hover &__togglable {
      visibility: visible;
    }
  }

  &__togglable {
    visibility: hidden;
    &:hover {
      visibility: visible;
    }
  }
}

.with-prefix-square {
  position: relative;
  // padding-left: 20px;

  &:before {
    // position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: $secondary;
    // left: 0;
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
  }
}

.with-prefix-dash {
  position: relative;
  // padding-left: 20px;
  &:before {
    // position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    content: "";
    width: 20px;
    height: 1px;
    background-color: $primary;
    left: 0;
  }
}

.with-icon {
  display: flex !important;
  align-items: center;

  &__icon {
    margin-right: 20px;
  }

  &__content {
  }
}

.full-height {
  position: relative;
  height: 100vh;
  padding: 40px 7.5%;
  border: 1px solid #c2c0c078;

  @include media("<=1600px") {
    padding: 40px 5%;
  }

  @include media(">tablet") {
    min-height: 800px;
  }

  @include media("<=tablet") {
    height: auto;
    min-height: auto;
    padding: 60px 40px;
  }

  @include media("<=phone") {
    height: auto;
    min-height: auto;
    padding: 30px 20px;
  }

  &:first-child {
    @include media(">tablet") {
      height: calc(100vh - 75px);
    }
  }

  &:last-child {
    @include media(">tablet") {
      // height: calc(100vh - 80px);
      height: 100vh;
    }
  }
}

.italic {
  font-style: italic;
}

.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}
