.header {
  .i-magnifier,
  .i-phone {
    @extend %icon-with-trans;
  }
  @extend %font-fam--secondary;

  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 25px 20px 10px;
  position: relative;
  min-height: 75px;

  @include media("<=tablet") {
    margin: 0 20px;
  }

  &__burger {
    position: absolute;
    left: 0;
    margin-left: -10px;
    z-index: 5;
    display: none;

    @include media("<=tablet") {
      display: block;
    }
  }

  &__logo {
    display: block;
    margin-right: 20px;

    @include media("<=tablet") {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 0 20px;
    }

    @include media("<=phone") {
      width: 30%;
    }

    img {
      min-width: 130px;
      width: 100%;
      @include media("<=tablet") {
        max-width: 130px;
        min-width: 60px;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    // margin-right: 2.8%;
    margin-left: auto;
    @include media("<=tablet") {
      display: none;
    }
  }

  &__item {
    padding: 7px 10px;
    position: relative;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__context-menu {
    background-color: $white;
    top: 31px;
    position: absolute;
    min-width: 280px;
    z-index: 5;
  }

  &__contacts {
    display: flex;
    align-items: center;

    @include media("<=tablet") {
      position: absolute;
      right: 0;
    }

    &-magnifier {
      padding: 10px;
      margin-right: -10px;
      cursor: pointer;
    }

    @include hover-guard {
      &-magnifier:hover .i-magnifier {
        line,
        circle {
          stroke: $primary;
        }
      }
    }

    &-phone {
      margin-right: 20px;
      @include media("<=700px") {
        margin-right: 0;
      }

      .phone-link__text {
        @include media("<=700px") {
          display: none;
        }
      }
    }

    @include hover-guard {
      &-phone:hover .i-phone {
        path {
          fill: $primary;
        }
      }
    }
  }
}
