%icon {
}

%icon-with-trans {
  * {
    @include transition-prop();
  }
}

.i-logo {
  display: block;
}

.i-phone {
  @extend %icon-with-trans;
  svg {
    width: 20px;
    height: 20px;
  }

  path {
    fill: $black;
  }

  &--secondary path {
    fill: $secondary;
  }

  &--middle svg {
    width: 25px;
    height: 25px;
  }
}

.i-magnifier {
  @extend %icon-with-trans;
  display: block;
  svg {
    width: 26px;
    height: 20px;
  }
}

.i-letter {
  svg {
    width: 26px;
    height: 19px;
  }
}

.i-whatsapp {
  svg {
    width: 25px;
    height: 25px;
  }

  &--secondary {
    path {
      fill: red;
    }
  }
}

.i-baloon {
  svg {
  }
}

.i-arrow {
  &--left {
    transform: scale(-1, -1);
  }

  &--mini {
    svg {
      height: 15px;
    }

    path {
      stroke-width: 2px;
    }
  }

  &--secondary {
    path {
      stroke: $secondary;
    }
  }

  &--primary {
    path {
      stroke: $primary;
    }
  }
}
