.mobile-menu {
  @extend %font-fam--secondary;
  @include media(">tablet") {
    display: none;
  }

  $selector_opened: "#{&}.opened";

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: change-color($color: #000000, $alpha: 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    @include transition-prop();

    #{$selector_opened} & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__inner-scroll {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    padding: 0 20px 30px;
    -webkit-overflow-scrolling: touch;
  }

  &__container {
    top: 0;
    left: 0;
    color: $white;
    background-color: $black;
    z-index: 2;
    position: absolute;
    max-width: 400px;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    padding-top: 100px;
    overflow: hidden;
    @include transition-prop();

    #{$selector_opened} & {
      @include transition-prop();
      transform: translateX(0);
    }
  }

  &__subnav {
    margin: 20px 0;
  }

  &__nav {
    @include font-size--big();
    margin-bottom: 40px;
  }

  &__footer {
    margin-top: auto;
  }

  &__link {
    display: block;
    & + & {
      margin-top: 20px;
    }
  }

  &__link > &__subnav {
    padding-left: 20px;
  }
}
