* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

menu {
  margin: 0;
  padding: 0;
}

body {
  @extend %font-fam--primary;
  @include font-size--normal();

  margin: 0;
  line-height: 1.2;
  color: $black;
}

a {
  text-decoration: none;
  &:visited {
    color: $black;
  }
}

ul,
li {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}
