.typo {
  @extend %font-fam--primary;

  @include font-size--big();

  @include media("<=large") {
    @include font-size--middle();
  }

  @include media("<=phone") {
    @include font-size--normal();
  }

  &__head {
    @extend %font-fam--secondary;
    @include font-size--large();

    margin-bottom: 25px;

    @include media("<=phone") {
      @include font-size--less-large();

      margin-bottom: 20px;
    }
  }

  &__text {
    line-height: 1.4;

    &--prefix {
      position: relative;
      &:before {
        position: absolute;
        width: 20px;
        height: 20px;
        content: "";
        left: -0.35em;
        top: 0.2em;
        background-color: $secondary;
        z-index: -1;
      }
    }

    & + & {
      margin-top: 25px;
    }
  }

  &__row {
    padding: 0 10px;
    margin-bottom: 45px;

    @include media("<=phone") {
      margin-bottom: 30px;
    }
  }

  &__columns {
    display: flex;

    @include media("<=portrait") {
      display: block;
    }
  }

  &__column {
    max-width: 340px;
    padding: 0 10px;

    @include media("<=portrait") {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: 8.5%;

      @include media("<=portrait") {
        margin-right: 0;
        margin-bottom: 45px;
      }
    }
  }

  $text: "#{&}__text";

  &__link {
    @extend %font-fam--secondary;

    display: flex;
    align-items: center;
    color: $primary;

    p {
      color: currentColor;
    }

    #{$text} + & {
      margin-top: 20px;
    }

    $link: &;

    &-arrow {
      transition: opacity 0.2s, transform 0.4s;
      transform: translate(-20px);
      opacity: 0;

      @include hover-guard {
        #{$link}:hover & {
          transform: translate(10px);
          opacity: 1;
        }
      }
    }
  }
}
