%font-fam--secondary {
  font-family: $font-secondary;
}

%font-fam--primary {
  font-family: $font-primary;
}

%font-fam--third {
  font-family: $font-third;
}

@mixin font-size--normal {
  font-size: 16px;
}

@mixin font-size--middle {
  font-size: 18px;
}

@mixin font-size--big {
  font-size: 20px;
}

@mixin font-size--large {
  font-size: 36px;
}

@mixin font-size--less-large {
  font-size: 25px;
}
