$primary: #667fc4;
$secondary: #7bc4e6;
$black: #23211f;
$white: #fff;
$dark-gray: #424242;

$font-primary: "Raleway", sans-serif;
$font-secondary: "Forum", cursive;
$font-third: "Audrey Regular", cursive;

$breakpoints: (
  "phone": 480px,
  "portrait": 768px,
  "tablet": 1024px,
  "desktop": 1280px,
  "large": 1600px,
) !default;
