
header.header
    .header__burger
        .burger
            .burger__content
                .burger__strip
                .burger__strip
                .burger__strip
    a.header__logo(href="")
        img(src="../assets/svg/logo.svg", alt="").i-logo
                        
    nav.header__items
        a.header__item.with-line-hoverable(href="")
            p.with-line-hover Пошив под заказ
        a.header__item.with-line-hoverable(href="")
            p.with-line-hover Бренд “Под ключ”
        a.header__item.with-line-hoverable(href="")
            p.with-line-hover Брендирование
        a.header__item.with-line-hoverable(href="")
            p.with-line-hover Контакты
        div.header__item.with-toggle__toggler.with-line-hoverable
            div.with-line-hover Производство
            menu.header__context-menu.with-toggle__togglable.dropdown-menu
                li.dropdown-menu__item
                    a.float-menu__link(href="") О нас
                li.dropdown-menu__item
                    a.float-menu__link(href="") Условия сотрудничества
                li.dropdown-menu__item
                    a.float-menu__link(href="") Карьера
                li.dropdown-menu__item
                    a.dropdown-menu__link(href="") Доставка и оплата                    
    menu.header__contacts
        li.header__contacts-phone.with-line-hoverable
            a.phone-link(href="")
                .phone-link__logo.i-phone
                    include ../assets/svg/phone.svg
                p.phone-link__text.with-line-hover +7 (3852) 73 04
        li.header__contacts-magnifier
            .i-magnifier
                include ../assets/svg/magnifier.svg

