extends layout
block head
    title Главная
block content
 div.page-main.fullpage
    section.full-height.page-main__people.fullpage__section
        h1.page-main__people-head-group
            .page-main__people-head Современная
            .page-main__people-subhead швейная фабрика
    section.full-height.page-main__swiper-with-text.fullpage__section
        .swiper-square
            .swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        img(src="https://picsum.photos/578/459" object-fit="cover")
                    .swiper-slide 
                        img(src="https://picsum.photos/578/459" object-fit="cover")
                    .swiper-slide 
                        img(src="https://picsum.photos/578/459" object-fit="cover")         
            .swiper-nav               
                .swiper-next                      
                    img.i-arrow(src="../assets/svg/arrow.svg", alt="")                                    
                .swiper-prev
                    img.i-arrow.i-arrow--left(src="../assets/svg/arrow.svg", alt="")                
        article.typo
            h1.typo__head О НАС
            p.typo__text Швейная фабрика «VALS». Современное швейное производство, ориентированное . массовый пошив одежды партиями 50 шт.
            p.typo__text Наша фабрика активно расширяет возможности производства, на сегодняшний день в нашем парке более 60 единиц швейного и специального оборудования.
            a.typo__link(href="#") 
                p Подробнее 
                .typo__link-arrow.i-arrow.i-arrow--mini.i-arrow--primary
                    include ../assets/svg/arrow.svg    
    section.full-height.page-main__text-with-swiper.fullpage__section
        .typo
            .typo__row
                h1.typo__head Предлагаем вам услуги
                p.typo__text.italic Полный цикл от разработки коллекции  до пошива партии 
            .typo__columns
                article.typo__column
                    h1.typo__head ПОШИВ “под заказ”
                    p.typo__text.typo__text--prefix У вас уже есть проработанные линейки моделей, пользующиеся спросом. Работа строится на давальческом сырье (материалы Заказчика) или производство из нашего сырья. Мы выполняем полный цикл производства — крой, пошив, ВТО, упаковка.
                article.typo__column
                    h1.typo__head БРЕНД “под ключ”
                    p.typo__text.typo__text--prefix Отстроим эскиз, технический̆ рисунок, создадим лекало, подберем материалы, отошьем образец. Забрендируем под вашу торговую марку, разработаем и нанесем печать или вышивку. Подготовим к продаже и упакуем.
        .swiper-square.swiper-square--left-nav
            .swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        img(src="https://picsum.photos/578/459" object-fit="cover")
                    .swiper-slide 
                        img(src="https://picsum.photos/578/459" object-fit="cover")
                    .swiper-slide 
                        img(src="https://picsum.photos/578/459" object-fit="cover")         
            .swiper-nav.swiper-nav--left
                .swiper-next                      
                    img.i-arrow(src="../assets/svg/arrow.svg", alt="")     
                .swiper-prev
                    img.i-arrow.i-arrow--left(src="../assets/svg/arrow.svg", alt="")                
    section.full-height.page-main__form
        .page-main__form-bg
        .page-main__form-fields
            form.form  
                p.form-head
                .form-content
                    .form-group
                        label 
                            .input-label Имя
                            input.input
                    .form-group
                        label
                            .input-label Имя
                            input.input                    
                    .form-group
                        label
                            .input-label фывфыв
                            textarea.input.input--area
                    .form-group
                        label
                            .input-label фывфыв
                            input(type="upload").input.input--area
                    .form-submit    
                        button.form-btn Отправить
    section.full-height.page-main__four
    section.full-height.page-main__five
