html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.gstatic.com")        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Forum&family=Raleway:ital@0;1&display=swap")
        link(rel="stylesheet", href="../styles/index.scss")
        block head
    body
        include header
        
        block content

        include mobile-menu
        
        script(src="../ts/vendor/index.ts")
        block scripts
    