.mobile-menu
    .mobile-menu__backdrop
    .mobile-menu__container
        .mobile-menu__inner-scroll
            nav.mobile-menu__nav
                a.mobile-menu__link.with-prefix-square Пошив под заказ
                a.mobile-menu__link.with-prefix-square Бренд “Под ключ”
                a.mobile-menu__link.with-prefix-square Брендирование
                a.mobile-menu__link.with-prefix-square Контакты
                div.mobile-menu__link.with-prefix-square Производство
                    nav.mobile-menu__subnav
                        a.mobile-menu__link.with-prefix-dash О нас
                        a.mobile-menu__link.with-prefix-dash Условия сотрудничества
                        a.mobile-menu__link.with-prefix-dash Карьера
                        a.mobile-menu__link.with-prefix-dash Доставка и оплата
            footer.mobile-menu__footer
                .mobile-menu__link.with-icon
                    .with-icon__icon
                        include ../assets/svg/balloon.svg
                    .with-icon__content
                        p 656049 г. Барнаул, ул.Мало-Табольская 13, центральный вход
                .mobile-menu__link.with-icon
                    .with-icon__icon.i-phone.i-phone--secondary.i-phone--middle
                        include ../assets/svg/phone.svg
                    .with-icon__content
                        p +7 3852 73-04-87
                .mobile-menu__link.with-icon
                    .with-icon__icon.i-letter
                        include ../assets/svg/letter.svg
                    .with-icon__content
                        p info@val-s.ru
                .mobile-menu__link.with-icon
                    .with-icon__icon.i-whatsapp
                        include ../assets/svg/whatsapp.svg
                    .with-icon__content
                        p  +7 3852 73-04-87